Django==1.8.2
PyYAML==3.11
arrow==0.5.4
beanstalkc==0.4.0
daemonized==0.3.0
django-mailgun==0.2.2
django-redis-sessions==0.4.0
hiredis==0.2.0
jsonfield==1.0.3
mailgun2==0.1.4
psycopg2==2.6.1
redis==2.10.3
requests==2.7.0
sevencow==0.2.0
